<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="assets/home.scss" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	  <nav>	
		<ul>
			<li><a href="" class="nav-link" ><h1 id="logo">Cover</h1></a></li>	  
			<li><a href="" class="nav-link">Home</a></li>
			<li><a href="" class="nav-link" >Features</a></li>
			<li><a href="" class="nav-link" >Contact</a></li>
		</ul>

	  </nav>
    <%= yield %>
  </body>
</html>
